.list-row {
  & * {
    border: 0px solid black;
  }

  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-bottom: 1px solid lightblue;

  display: flex;

  &:hover {
    background-color: rgba($color-primary, 0.2);
  }

  &__visible-icon {
    align-self: center;
    padding: 0 1rem;
    color: grey;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
    &.active {
      color: black;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;

    &-top {
      padding: 0.4rem;
      display: flex;
      & > * {
        padding: 0rem 0.4rem;
      }
    }
    &-bottom {
      padding: 0.4rem;
      display: flex;
      justify-content: space-between;

      & > * {
        padding: 0rem 0.4rem;
      }
    }
  }
  &__status {
    display: flex;
    margin-right: 1rem;
    width: 8rem;
    align-items: center;

    &.pending {
      color: $color-pending;
    }
    &.in-progress {
      color: $color-progress;
    }
    &.done {
      color: $color-success;
    }

    &-icon {
      margin-right: 0.4rem;
      display: flex;
      align-items: center;
    }
  }
  &__status-title {
    margin-top: -0.4rem;
  }

  &__person.empty,
  &__date.empty {
    color: grey;
    font-style: italic;
  }
  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    flex: 1;
  }

  &__notifications {
    background-color: orangered;
    padding: 1rem;
    border-radius: 0.4rem;
    text-align: center;
    filter: brightness(1.4);
    align-self: center;
  }
}
