.issues-view {
  width: 100%;
  height: 100%;

  position: absolute;
}

.view-layer {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.tables-layer {
  position: absolute;
  top: 0;
  left: 0;

  z-index: $layer-3;
  height: 100%;
  width: 100%;

  background-color: transparent;
  pointer-events: none;
}
