.input-photo {
  height: 100%;
  display: flex;
  justify-content: center;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    & input {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  &__add-icon {
    color: $color-text-secondary;
    z-index: 2;
    pointer-events: none;

    &:hover {
      cursor: pointer;
      color: $color-text-primary;
    }
  }
}
