/*
#ef4343
#ff8914
#e3ef37
#4fcc33
#008de5

#a6f31f
#d9fb83
#6fd404
#649e3c
#0c2304
*/

$color-primary: #649e3c;
$color-primary-light: #6fd404;
$color-primary-dark: #0c2304;

$color-secondary: #ff8914;
$color-secondary-light: #ffd014;
$color-secondary-dark: #ff4714;

$color-black: #222222;
$color-white: #f1f1f1;
$color-text-primary: #333333;
$color-text-secondary: #999999;
$color-text-disabled: #bbbbbb;

$color-info: #008de5;
$color-error: #ef4343;
$color-warning: #ff8914;

$color-pending: #53656b;
$color-progress: #009dff;
$color-success: #13a213;

$color-background: #ffffff;
$color-background-start: #add8e6;

$header-height: 4.8rem;

$layer-1: 10;
$layer-2: 50;
$layer-3: 100;
$layer-4: 200;

$shadow-small: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$shadow-medium: 0 2rem 4rem rgba(0, 0, 0, 0.4);

$icon-font-size: 28;
